div#Menu {
  position: relative;
  width: 100%;
  margin: auto;
}

#title {
  margin: 20px;
}

#logonav {
  position: relative;
  width: 90%;
  height: 50%;
  margin-top: 7%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

#logos ul {
  display: none;
  display: flex;

}

#logos ul li {
  position: relative;
  list-style: none;
}

#logos ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
a .logito ion-icon{
  font-size: 200px;
}
a .icontittle{
  position: absolute;
}
